body{
    background-color: rgb(0, 0, 0);
    overflow: hidden; /* Prevents scroll-bar */
}
#welcomeScreen, #gameOverScreen{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;  /*center the welcome screen div*/
    flex-direction: column;
    justify-content: center; 
    align-items: center;
    background-color: rgb(0, 0, 0);
    
}

#gameOverScreen {
    display: none; /* Hidden until the game ends*/
}

#canvasContainer {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    display: inline-block;
}

#canvas {
    display: block;
    touch-action: none; /* Prevent touch zoom */
    -ms-touch-action: none;
    -webkit-user-drag: none; /* Prevent image drag */
    user-select: none; /* Prevent canvas selection */
}


h1 {
    color: rgb(222, 173, 173);
    font-size: 1.6em;
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
    margin-bottom: 0%;
    margin-top: 0%;
}

h2 {
    color: rgb(222, 173, 173);
    font-size: 1.4em;
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
}

ul {
    font-size: 1em;
    color: palevioletred;
    font-family: 'Courier New', Courier, monospace;
    list-style-type: none; /* Remove default list styles */
}
#rules, #moves{
    background-color: rgb(1, 1, 1);
    text-align: center; /* Center the list items */
}

#playButton,  #replayButton{
    padding: 3px 6px;
    font-size: 1.2em;
    color:  palevioletred;
    background-color:rgb(173, 201, 239);
    border: none;
    cursor: pointer;
    margin-top: 2px;
    border-radius: 5px; /* Rounded edges */
    font-family: 'Courier New', Courier, monospace;
}

#playButton:hover,  #replayButton:hover{
    background-color: rgb(151, 202, 243);
}


.container {
    display: flex; /* Enables CSS flexbox */
    justify-content: center; /* Centers play button horizontally */
    align-items: center; /* Centers play button vertically */
  }

.replayContainer {
    display: flex; /* Enables CSS flexbox */
    justify-content: center; /* Centers play button horizontally */
    align-items: center; /* Centers play button vertically */
  }


  #pauseButton {
    position: absolute;
    top: 5.5px; /* 10px from the top of the canvas */
    right: 19px; /* 10px from the right of the canvas */
    z-index: 10; /* Ensure it stays above the canvas */
    background-color: rgb(255, 255, 255);
    color: #000000;
    border: none;
    padding: 2px 2px;
    cursor: pointer;
    font-size: 8px;
    border-radius: 3px;

    /* Center text inside the button */
    display: flex;
    align-items: center; /* Vertically center */
    justify-content: center; /* Horizontally center */
    text-align: center; /* Align text within button */
}

  
  
@media (max-width: 400px) { /* Smaller font for smaller screens */
    h1 {
        font-size: 1em; 
    }
    h2 {
        font-size: 0.8em; 
        }
    ul {
        font-size: 0.75em; 
    }
    #playButton{
        font-size: 0.65em; 
    }
    #replayButton{
        font-size: 0.65em; 
    }
    } 

@media (max-width: 280px) {
    h1 {
        font-size: 0.8em !important; 
    }
    h2 {
        font-size: 0.7em !important; 
    }
    ul {
        font-size: 0.55em !important; 
    }
    #playButton {
        font-size: 0.55em !important; 
    }
    #replayButton {
        font-size: 0.55em !important; 
    }
    }


@media (max-height: 580px) { /* Smaller font for smaller screens */
    h1 {
        font-size: 1em; 
    }
    h2 {
        font-size: 0.8em; 
    }
    ul {
        font-size: 0.75em; 
    }
    #playButton{
        font-size: 0.65em; 
    }
    #replayButton{
        font-size: 0.65em; 
    }
    }  


@media (max-height: 400px) {
    h1 {
        font-size: 0.8em !important; 
    }
    h2 {
        font-size: 0.7em !important; 
    }
    ul {
        font-size: 0.55em !important; 
    }
    #playButton {
        font-size: 0.55em !important; 
    }
    #replayButton {
        font-size: 0.55em !important; 
    }
    }

    


 


            
